REDIS_CONNECTION=redis:6379,abortConnect=false

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE=valuator.processing.rank
RABBITMQ_USER=template
RABBITMQ_PASSWORD=template
RABBITMQ_QUEUE=valuator.processing.rank
RABBITMQ_ROUTING_KEY=rank-task

