REDIS_CONNECTION=redis:6379,abortConnect=false

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80

DB_MAIN=host.docker.internal:6000
DB_RU=host.docker.internal:6001
DB_EU=host.docker.internal:6002
DB_ASIA=host.docker.internal:6003

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE=valuator.processing.rank
RABBITMQ_USER=template
RABBITMQ_PASSWORD=template
RABBITMQ_QUEUE=valuator.processing.rank
RABBITMQ_ROUTING_KEY=rank-task
RABBITMQ_EVENTS_EXCHANGE=events.exchange
RABBITMQ_RANK_ROUTING_KEY=rank.calculated
RABBITMQ_SIMILARITY_ROUTING_KEY=similarity.calculated

